<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Actualización de los datos de la persona</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <label>Nombres</label>
            <input type="text" class="form-control" ng-model="row.firstName" autofocus>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label>Primer Apellido</label>
            <input type="text" class="form-control" ng-model="row.firstSurname">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label>Segundo Apellido</label>
            <input type="text" class="form-control" ng-model="row.lastSurname">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label>Cantidad de Personas</label>
            <input type="text" class="form-control" ng-model="row.personCount">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="update()">Actualizar</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>